.select .main {
    border: 1px solid black;
    display: inline-block;
    min-height: 20px;
    min-width: 20px;
}

.items {
    position: absolute;
    padding: 1px;
    border: 1px black solid;
}

.items .active {
    color: red;
}